.cart{
  width: 100%;

}
.hered-cart{
    padding: 1.5rem;
    background-color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1px;
}
.cart-item{
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: rgb(102, 102, 231);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1px;
}
.product{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.product .cart-img {
    width: 10%; /* Hoặc bạn có thể sử dụng một giá trị cố định như 50px */
    object-fit: contain;/* Đảm bảo hình ảnh không bị biến dạng */
    position: static;
}

.hered-cart:only-child{
    width: 33.33%;
}
.cart-itemt:only-child{
    width: 33.33%;
}
.sum-cart{
    margin-top: 2rem;
    text-align: right;
}